@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  span,
  a {
    display: inline-block;
  }
}
@layer components {
  .btn {
    @apply bg-gray-200 hover:bg-gray-300 cursor-pointer rounded-md px-3 py-2 mt-2 dark:bg-gray-500 dark:hover:bg-gray-600;
  }
  .form-control {
    @apply w-full px-2 py-2 rounded-md focus:outline-0  border-gray-400/70 border-2 focus:border-violet-400;
  }
}

@utility container {
  margin-inline: auto;
}

.loader {
  width: 48px;
  height: 48px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: #ff3d00;
  width: 6px;
  height: 6px;
  transform: translate(150%, 150%);
  border-radius: 50%;
}
.loader::before {
  left: auto;
  top: auto;
  right: 0;
  bottom: 0;
  transform: translate(-150%, -150%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}